
.heroImg{
    width: 100%;
    height: 25vw;
    align-content: center;
}

.caurousel-caption h1{
    color: orange;
    margin-bottom: 1vh;
    text-align: center;
}
.caurousel-caption p{
    text-align: justify;
}
.heroBtn{
    color:white;
    background-color: orange;
    width: 130px;
}
.heroBtn:hover{
    background-color:  white;
    color:orange;
}
#apply{
    margin-left:2vw ;
}
.imgContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
    text-align: center;
}

@media only screen and (max-width: 450px){
    .d-block{
        height:200px;
    }
    .heroBtn{
        font-size: 12px;
        width:84px;
        padding: 4px;
    }
    .caurousel-caption h1{
        font-size: 20px;
        color: rgb(255, 136, 0);
        
    }
    .heroImg{
        height:200px;
    }
}
