
/*.heroimg{
    width: 70vw;
    height: 34.5vw;
}
 */
 

.caurousel-caption h1{
    color: orange;
    margin-bottom: 1vh;
}
.caurousel-caption p{
    text-align: justify;
}
.heroBtn{
    color:white;
    background-color: rgb(253, 167, 7);
    width: 130px;
}
#apply{
    margin-left:2vw ;
}
