
*{
    font-family: Helvetica;
}
.policy-container{
    box-sizing: border-box;
    margin-top: 55px;
    /* border: 1px solid black; */
    background-color: #FFF;
    box-shadow: 0 40px 40px 0 rgba(153, 153, 153, 0.25);
}
.policy-container h3{
    padding-top: 30px;
    font-weight: bold;
    
}
.policy-container p{
    font-size: 20px;
    color: black;
    padding: 20px 50px 90px;
    text-align: justify;
   
}