.cardText {
  color: black;
  text-align: left;
}
.cardImg {
  height: auto;
  width: 100%;
  transition: all 0.2s linear;
  border-radius: 0px !important;
  
}
.cardImg:hover {
  transform: scale(1.1);
  cursor: pointer;
  object-fit: cover; 
  transition: all 0.2s linear;
}
.cardtitle {
  font-weight: bold;
  color: var(--main-deepOrange);
}
.actionCard{
    /* margin:20px; */
    align-content: center;
}

.actionCardtitle{
    color:rgb(61, 175, 46);
    font-weight: bold;
}
.card{
  border-radius: 0px !important;
  width: 100%;
  display: inline-flex;
}
