 @import url(https://use.fontawesome.com/releases/v5.15.4/css/all.css);
.nav {
  background-color: white;
  padding: 0px !important;
  
}
.headerIcons{
  margin: 5px 5px;
  height: 30px;
}

.marqueeContainer{
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#head{
  width: inherit;
}
.iconContainer{
  display: inline-flex;
}
.iconContainer p{
  margin-top: 6px;
}
.marquee{
 padding: 2px 0px;
}
.dropdown-toggle::after {
  display: none;
}
.marqueeContainer .fa-phone-alt{
  color:var(--main-deepOrange);
  margin: 7px 0 5px 15px;
  font-size: 25px;
}
.fa-user-circle{
  color:var(--main-deepOrange);
  margin: 7px 15px 0 5px;  
  font-size: 25px;
  align-items: center;
  justify-content: center;
}
.fa-angle-down{
  margin-left: 5px;
}
.fa-plane{
  margin: 0 15px;
  color:var(--main-deepOrange);
}
.headerLink{
  text-decoration: none;
  color:white;
  font-weight:600px;
}

.scrwaller {
  background-color:var(--main-deepBlue);
  color: rgb(255, 255, 255);
  font-size: 18px;
  
  
}
.img-logo {
  height: 55px;
  width: auto;
}
.navItem {
  text-decoration: none !important;
}
.dropdown-menu[data-bs-popper] {
  top: 97%;
  left: 0;
  margin-top: 0rem;
}
#navlink,
#basic-nav-dropdown {
  padding: 20px 5px;
  color: black;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none !important;
}
#navlink:hover,
#basic-nav-dropdown:hover {
  color: white !important;
  background-color: var(--main-deepBlue);
}
.nav-link::after {
  /* border: none;
  font-family: normal normal normal 12px/1 "Font Awesome 5 Free";
  content: "\f337";
  vertical-align: 0; */
  vertical-align: 0.15em;
}

.dropdown-menu {
  background-color: white;
}

.dropdownItem {
  color: rgb(53, 53, 53);
  text-decoration: none;
}
.dropdown-item{
  /* padding:0px !important; */
}

.dropdown-item:hover {
  background-color: var(--main-deepBlue);
}
.highlightItem:hover {
  color: white !important;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.logo {
  font-weight: bold;
  font-family: Comic Sans MS;
}

@media only screen and (max-width: 1000px) {
  #navlink,
  #basic-nav-dropdown {
    padding: 5px;
    color: black;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none !important;
  }
}
