.nav {
  /* background-color: white; */
  background-image: linear-gradient(
    to right,
    rgb(255, 115, 0),
    rgb(255, 171, 60)
  );
  /* position:sticky; */
}

.scrwaller {
  background-image: linear-gradient(
    to right,
    rgb(255, 115, 0),
    rgb(255, 171, 60)
  );
  color: black;
  font-size: 18px;
}
.navItem {
  text-decoration: none !important;
}
#navlink,
#basic-nav-dropdown {
  color: black;
  padding: 3px;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  text-decoration: none !important;
}
#navlink:hover,
#basic-nav-dropdown:hover {
  color: white;
  background-color: #00A0CCFF;
}
.dropdown-menu {
  background-color: white;
}
.dropdownItem {
  color: rgb(53, 53, 53);
  text-decoration: none;
}
.dropdownItem:hover {
  color: white;
  background-color: rgb(2, 161, 253);
}
.logo {
  font-weight: bold;
  font-family: Comic Sans MS;
}

