.title {
  
  background-color: rgb(44, 46, 42);
  margin: 60px 10px 30px 10px;
  color: var(--main-deepOrange);
  text-align: center ;
  padding: 15px 0px 15px 0;
}
.cardContainer{
    padding-bottom:50px;
    align-content: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.actionCardContainer{ 
  padding: 20px 10px;
  
}
.actionCardItems{
  display: inline-flex;
}
.cardContainer .row{
  align-content: center;
  text-align: center;
  margin-bottom: 30px;
  /* margin-left: 30px; */
}
.cardContainer .col-lg-4 .col-md-6 .col-sm-12{
  padding-bottom: 40px;
  margin-bottom: 40px;
  text-align: center;
  align-content: center;
}
.card-item{
  /* display: inline-flex; */
  margin-left: 1.6vw;
  margin-bottom:40px;
}