@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}
.form-inputs-application p {
  color: red;
}
.form-application h2 {
  font-size: 1rem;
  text-align:left;
  width: 100%;
  margin-bottom: 0.5rem;
  color: #fff;
}
.form-container-application {
  margin: 100px auto;
  width: 60%;
  border-radius: 10px;
  display: grid;
}

.form-success-application {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
  height: 10rem;
  margin-bottom: 80px;
}

.form-content-application {
  border-radius: 10px 10px 10px 10px;
  position: relative;
  background-color: var(--main-blue);
}

.formdata{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form-application {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.form-application h1 {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  color: #fff;
}

.formdata h1 {
  font-size: 1rem;
  text-align: justify;
  width: 100%;
  margin-bottom: 1rem;
  color: #fff;
}

.form-inputs-application {
  margin-bottom: 0.5rem;
  width: 90%;
}

.form-inputs-application p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label-application {
  display: inline-block;
  font-size: 0.9rem;
  margin-bottom: 6px;
  color: #fff;
}

.form-input-application {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input-application::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-apply-application {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
  background: white;
  border-color:rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 1rem;
  transition: all 0.4s ease-in;
}

.form-input-apply-application:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition: all 0.4s ease-out;
  border-color:rgb(0, 0, 0);
}

@media screen and (max-width: 900px) {
  .form-content-application {
    width: 100%;
  }
  .form-inputs-application {
    width: 100%;
  }
  .form-container-application {
    width: 90%;
    grid-template-columns: none;
  }
  .form-input-apply-application {
    width: 90%;
  }
  .formdata{
    display:grid;
    grid-template-columns: 1fr;
  }
}
