.footer-part-1{
  background-color: var(--main-deepBlue);
  padding-top: 60px;
  padding-bottom: 100px;
  color: white;
  
}
.footer-column{
  text-align: left;
  padding: 0 5px;
}
.fbpost{
  width: 300px;
  height: auto;
}
.footer-part-1 .col-lg-3 .col-lg-2 .col-md-4 .col-md-2 .col-sm-12{
  text-align: left !important;
}
.footer-logo{
  width: 50px;
  margin-top: 10px;
}
.footer-logo-para{
  padding-top: 20px;
}
.footer-title{
  padding-top: 15px;
  padding-bottom: 10px;
  color: var(--main-deepOrange);
}
.footer-part-1 a,p{
  text-decoration: none;
  color: white;
  font-size: 18px;
  text-align: left;
}

a:hover{
  color: var(--main-deepOrange);
}
/* .col-md-2 .col-md-3, .col-lg-3{
  text-align: left;
} */

.fa-building, .fa-envelope, .phone-alt{
   margin-right: 10px;
} 
.fa-facebook{
  color:rgb(0, 183, 255);
  margin-right: 10px;
  font-size: 20px;
}
.fa-youtube{
  color:red;
  margin-right: 10px;
  font-size: 20px;
}
.fa-twitter{
  color:rgb(0, 225, 255);
  margin-right: 10px;
  font-size: 20px;
}
.fa-linkedin{
  color:rgb(47, 138, 199);
  margin-right: 10px;
  font-size: 20px;
}
.footer-2{
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: center;
}
.footer-2 p{
  text-align: center;
}
.fb-page{
  
  
}
.social-icons-container{
  display: inline-flex;
  
  
}
.icons{
  width: 40px;
  margin: 20px 10px;

}
.fb-btn{
  position: relative;
  top: 80%;
  left: 27%;

}
.btn-bk{
  background-image: url("./fbpost.jpg");
  background-size: 300px 175px;
  background-repeat: no-repeat;
  width: 300px;
  height: 175px;
}